<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dojos and Ninjas</title>
</head>
<body>

    <div class = "container">
        <div id=top class="row">
            <div class="col-md-6">
                <h1>Add a Dojo</h1>
                <form  action='add_dojo' method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter name">
                    </div>

                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" name="city" id="city" placeholder="City">
                    </div>
  
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" name="state" id="state" placeholder="State">
                      </div>

                    <button type="submit" class="btn btn-primary">Add Dojo</button>
                  </form>

            </div>
            <div class="col-md-6">
                <h1>Add a Ninja</h1>
                <form  action='add_ninja' method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="first_name">First Name</label>
                      <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="emailHelp" placeholder="First name">
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="emailHelp" placeholder="Last name">
                    </div>


                      <div class="form-group">
                        <label for="ninjas_dojo">Select Ninja's Dojo:</label>
                        <select class="form-control" id="dojo" name="dojo">
                          {% for dojo in dojos %}
                            <option value="{{dojo.id}}">{{dojo.name}}</option>
                          {% endfor%}
                        </select>
                      </div>

                    <button type="submit" class="btn btn-primary">Add Ninja</button>
                  </form>

            </div>
        </div>
        <div id=buttom>

            {% for dojo in dojos%}
                <h5>{{dojo.name}}</h5> <a href="/delete_dojo/{{dojo.id}}">Delete doojo</a>
                <strong>Total Ninjas : {{dojo.ninjas.count}}</strong>
                <ul>
                    {%for ninja in dojo.ninjas.all %}
                    <li>{{ninja.first_name}} {{ninja.last_name}}</li>
                    {%endfor%}
                </ul>
            {% endfor %}


        </div>
    </div>
    
</body>
</html>

