<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/show.css' %}">  
    <title>All-Shows</title>
</head>
<body>


    <h1>Add a new show</h1>
    

    <form action="/shows/{{show.id}}/update" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text"  name="title" id="title" class="form-control"   placeholder={{show.title}}>
          
        </div>
        <div class="form-group">
          <label for="network">Network</label>
          <input type="text" name="network" id="network" class="form-control"  placeholder={{show.network}}>
        </div>
        <div class="form-group">
            <label for="release_date">Release Date</label>
            <input type="date" name="release_date" id="release_date" class="form-control"  placeholder={{show.release_date}}>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" class="form-control" placeholder={{show.description}} >
          </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>


    
</body>
</html>