<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/show.css' %}">  
    <title>All-Shows</title>
</head>
<body>


    <h1>All show</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            {% for show in shows%}
            <tr>
                <td>{{show.id}}</td>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td>
                    <a href="/shows/{{show.id}}">Show</a> 
                    <a href="/shows/{{show.id}}/edit">Edit</a> 
                    <a href="/shows/{{show.id}}/delete">Delete</a> 
                </td>
            </tr>
            {% endfor%}
        </tbody>

    </table>

    <a href="/add_show">Add a new show</a>
    
</body>
</html>