<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>Books/Authors - Author Details</title>
</head>
<body>
    <nav>
        <h1>Books & Authors</h1>
        <a href="/">Books</a>
        <a href="/authors">Authors</a>
    </nav>

    <div class="container">

        <h1>{{ author.first_name}} {{author.last_name}}</h1>
        <p> ID :  {{author.id}}</p>
        <p>Notes : {{author.notes}}</p>
        <h2>Books</h2>

        <form action="/authors/{{author.id}}/assign" method="POST">
            {% csrf_token %}
        
            <select name="book_id" >
            {% for book in books%}
            
                <option value="{{book.id}}">{{book.title}}</option>
            {%endfor%}

            </select>
            <button>Add Author</button>

        </form>

    </div>
</body>
</html>