<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja_Gold</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
</head>
<body>

    <div id ="wrapper">
        <div id="head">
            <p>Your Money : {{ request.session.gold}}</p>
            <!-- <input type="text" name="" id=""> -->

        </div>
        <div id ="middle">
            <form action="/process_money" method="POST">
                {% csrf_token%}
                <h4>FARM</h4>
                <p>Earn 10-20 golds</p>
                <input type="hidden" name="location" value ="farm">
                <input type="submit" value="Find Gold">
            
            </form>


            <form action="/process_money" method="POST">
                {% csrf_token%}
                <h4>FARM</h4>
                <p>Earn 5-10 golds</p>
                <input type="hidden" name="location" value ="cave">
                <input type="submit" value="Find Gold">
            
            </form>

            <form action="/process_money" method="POST">
                {% csrf_token%}
                <h4>FARM</h4>
                <p>Earn 2-5 golds</p>
                <input type="hidden" name="location" value ="house">
                <input type="submit" value="Find Gold">
            
            </form>

            <form action="/process_money" method="POST">
                {% csrf_token%}
                <h4>FARM</h4>
                <p>Earn or loose  0-50 golds</p>
                <input type="hidden" name="location" value ="casino">
                <input type="submit" value="Find Gold">
            
            </form>

        </div>
        <div id="buttom">
            <h2>Activities:</h2>
            <div>
                {% for activity in activities%}
                <p>{{activity}}</p>
                {% endfor %}
            </div>
            

        </div>

    </div>
    
</body>
</html>